<%- include('includes/head') %>

<body>
  <section class="container">
    <h1>Erro 404</h1>
    <p>Página não encontrada.</p>
    <p>Desculpe, a página que você está tentando acessar não foi encontrada.</p>
    <p>
      Verifique se o endereço está correto ou
      <a href="/">clique aqui</a>
      para voltar à página inicial.
    </p>
  </section>

  <script src="./assets/js/bundle.js"></script>
</body>

<%- include('includes/footer') %>
